<%- include("partials/header.ejs") %>

<% articles.forEach(article => { %>
   <div class="container mt-5 content create-box">
        <div class="col-md-12 col-lg-12 ">
            <article class="mb-5">
                <div class="row d-flex justify-content-center align-items-center">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="post-type all-post-page-img">
                            <a href="#"><img class="all-post-page-img" src="<%= article.image %>" alt="image post"></a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
                        <div class="timestamp">
                            <p><%= article.timestamp %></p>
                        </div>
                        <div class="caption">
                            <h2><a class="display-6 link-body-emphasis mb-1 all-posts-heading all-posts-title" href="<%= article.url %>"><%= article.title %></a></h2>
                            <p class="text-secondary all-posts-text"><%= article.text %></p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
   </div> 
<% }); %>

<%- include("partials/footer.ejs") %>
